[Unit]
Description=nginx-confd
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=on-failure
RestartSec=30
SyslogIdentifier=nginx-confd
ExecStartPre=-/usr/bin/docker kill nginx-confd
ExecStartPre=-/usr/bin/docker rm nginx-confd
ExecStartPre=/usr/bin/docker pull adrianmo/nginx-confd
ExecStart=/usr/bin/docker run --name nginx-confd \
                              --env=CONFD_BACKEND=etcd \
                              --env=ETCD_HOST=${COREOS_PRIVATE_IPV4}:4001 \
                              --publish=0.0.0.0:80:80 \
                              --publish=0.0.0.0:443:443 \
                              adrianmo/nginx-confd
ExecStop=/usr/bin/docker stop nginx-confd

[X-Fleet]
Global=true
